html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.colum {
	margin: 10px;
	padding-right: 40px;
}


.border-bottom {
	border-bottom: 3px solid black;
}

.border-left {
	border-left: 3px solid black;
}

.center {
	width: 50%;
	margin: 0 auto;
}

.option {
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 600%;
	font-weight: bold;
	color: #009300;
	text-shadow: 2px 0 0 #1f1f1f,
	-2px 0 0 #1f1f1f, 0 2px 0 #1f1f1f, 0 -2px 0 #1f1f1f, 1px 1px #1f1f1f,
	-1px -1px 0 #1f1f1f, 1px -1px 0 #1f1f1f, -1px 1px 0 #1f1f1f;
}

.active {
	cursor: pointer;
}

.active:hover {
	background-color: rgba(68, 204, 7, 0.2);
}

.message {
	font-weight: bold;
	color: #262626;
}

.winner {
	margin-top: 20px;
	font-size: 140%;
	font-weight: bold;
	color: #9b0000;
	text-align: center;
}

input {
	color: #fff;
	background-color: black;
	height: 30px;
	width: 200px;
	border: 0;
	font-size: 110%;
	transition: background-color 0.3s;
}

input:hover,
input:active {
	background-color: #e67e22;
}
